<div class="container">
  <div class="row">

    <div class="col-md-6">

      <h4 class="mb-3">Gamer Metrics Users</h4>
      <p *ngIf="users.length == 0">No users there</p>
      <div *ngFor="let user of users; index as i">
        <hr>
        <p>Nickname: {{ user.nickName }}</p>
        <p>Email: {{ user.email }}</p>
        <p>First name: {{ user.firstName }}</p>
        <p>Last name: {{ user.lastName }}</p>
        <p>Blocked: {{ user.blocked ? 'Yes' : 'No'}}</p>
        <button [disabled]="user.blocked" class="btn btn-warning" (click)="blockUser(user.nickName)" >Block</button>
        <button [disabled]="!user.blocked" class="btn btn-warning mx-3" (click)="unblockUser(user.nickName)" >Unblock</button>
        <button class="btn btn-outline-danger" (click)="deleteUser(user.nickName)" >Delete</button>
      </div>

    </div>

    <div class="col-md-6">
      <h4>Backups</h4>
      <p *ngIf="backups.length == 0">No backups there</p>
      <div *ngFor="let backup of backups; index as i">
        <hr>
        <p>Backup name: {{ backup.fileName }}</p>
      </div>
      <button class="btn btn-outline-dark mt-3" (click)="createBackup()">Create backup</button>
    </div>

  </div>
</div>
